img.panoimg {
  width: 343px;
}

img.panogroup {
  margin-top: 45px;
  width: 735px;
}

p.memo {
  margin-top: 25px;
  left: 0px;
}

@media (max-width: 860px) {
  img.panogroup {
    width: 80%;
  }
}
