* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  width: 100%;
}


.wrap {
  margin-bottom: 100px;
}

.content {
  text-align: center;
  
}

p.page_title {
  margin-top: 100px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: "筑紫B丸ゴシック";
}

.workphotos {
  text-align: center;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}

figure {
  position: relative;
  display: inline-block;
}

figure figcaption.info {
  /* display: inline-block; */
  /* vertical-align: middle; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(102, 204, 204, 0.8);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

figure figcaption.info:hover {
  opacity: 1;
}

figure img {
  opacity: 1;
  -webkit-transform: 0.3s ease-in-out;
  transition: 0.3 ease-in-out;
}

figure:hover img {
  opacity: 0.5;
}

p.discription {
  margin-top: 111px;
  margin-bottom: 100px;
}

p {
  width: 70%;
}

a{
  margin-bottom: 15px;
}

@media (max-width: 860px) {
  img {
    width: 270px;
  }

  p.discription {
    margin-top: 30px;
    margin-bottom: 30px;
  } 

  p.page {
    margin-top: 40px;
  }

  p.page_title{
    margin-top: 50px;
  }

  .workphotos{
    margin-top: 30px;
  }
}

@media (max-width: 716px) {
  img {
    width: 80%;
  }
  figure figcaption.info {
    max-width: 80%;
}
